@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Gabarito");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: #ddd;
}

::-webkit-scrollbar-thumb {
  background: #50f;
  border-radius: 1px;
}

.formInput {
  @apply w-full border-2 border-[#50f] rounded-md outline-none p-[6px] bg-transparent;
}

.error {
  @apply text-[#f00] w-full flex justify-center text-center text-sm pb-4;
}

.showPassword {
  @apply absolute right-[12px] bottom-[9px];
}

.navigateSigning {
  @apply w-fit px-4 py-1 border-2 border-[#50f] hover:bg-[#31b] hover:text-white text-[14px] text-center duration-500 ease-out rounded-md;
}

.button {
  @apply rounded-md bg-[#50f] hover:bg-[#31b] duration-500 text-white cursor-pointer;
}

.landingCard {
  @apply w-[26vw] md:w-[23vw] lg:w-[16vw] h-[26vw] md:h-[23vw] lg:h-[16vw] rounded-md bg-[#88f] text-[#117] leading-none font-extrabold p-1 sm:p-2 hover:bg-black hover:text-white duration-700;
}

.td {
  @apply border border-[#aac] p-1 md:p-2 text-center bg-white;
}
